
.App {
  font-family: 'Montserrat',
  sans-serif;
  text-align: center;
  background-color: black;
  border-style: solid;
  border-width: 4px;
  border-color: #AE2F2C;
}

.App2 {
  font-family: 'Montserrat',
    sans-serif;
  text-align: center;
  border-style: solid;
  border-width: 4px;
  border-color: #AE2F2C;
}

section {
  display: inline-block;
}

.margin-left {
  margin-left: 15px;
}

.margin-right{
  margin-right: 15px;
  margin: 5px;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white;
 
}

.table {
  align-content: center;
  margin: 20px;
  width: 400px;
  height: auto;
  
}

.App-title {
  font-size: 1.5em;
}

.card{
  margin: 25px;
  height: auto;
  max-width: 450px;
}

.App-intro {
  font-size: large;
}

#image {
  border-style: solid;
  border-width: 4px;
  border-color: #AE2F2C;
  width: 200px;
  height: 200px;
  overflow: hidden;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.float-right {
  margin: 5px;
}

#giveMargin{
  margin-top: 10px;
}

.marginBottom{
  margin-bottom: 10px;
}

.padding {
    padding: 20px;
}

.whitetext {
  color: white;
  margin-top: 30px;
}

/* used in TechnologiesUsed component */
.whitetextTech {
  color: white;
  margin-bottom: 20px;
}

.divforcard {
  height: 100px;
  max-width: 450px;
}

.divforcard2 {
  margin-top: 20px;
  height: 100px;
}

.card2{
  padding: 20px;
  margin: 15px;
}



